beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
chardet==4.0.0
click==8.0.1
Flask==2.0.1
future==0.18.2
idna==2.10
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
-e git+https://github.com/natederbinsky/neubanner.git@398484fe8cbf58b2a4bcaed46847b1535d4e0e49#egg=neubanner
requests==2.25.1
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
zipp==3.4.1
